<h2>Add a New Pokemon</h2>
<form action="/pokemon" method="POST">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="number">Number:</label>
        <input type="text" id="number" name="number" class="form-control" value="0000" />
    </div>
    <div class="form-group">
        <label for="img">Image:</label>
        <input type="text" id="img" name="img" class="form-control" value="Currently Unknown" />
    </div>
    <div class="form-group">
        <label for="pokeType">Type:</label>
        <input type="text" id="pokeType" name="pokeType" class="form-control" value="Currently Unknown" />
    </div>

    <input type="submit" class="btn btn-primary" />
    <a href="/pokemon" class="btn btn-secondary">Cancel</a>
</form>